voms = {
    "vomses_file": {
        "url": "https://example.org/vomses.json",
        # Uncomment the following line to use the specified CA_BUNDLE file or
        # directory with certificates of trusted CAs for SSL verification of
        # the vomses URL
        #"ca_path": "/etc/grid-security/certificates/",
    },
    "api": {
        "cert_path": "/var/www/.globus/usercert.pem",
        "key_path": "/var/www/.globus/userkey.pem",
        "ca_path": "/etc/grid-security/certificates/",
    },
}

registry = {
    "db": {
        "name": "registry",
        "host": "registry.example.org",
        "user": "registry_admin",
        "password": "registry_secret",
    },
}

logging = {
    # Logging level: "DEBUG", "INFO", "WARNING, "ERROR", or "CRITICAL"
    "level": "INFO",
}
